In [27]:
import itertools
import numpy as np
from numpy import savetxt
import pandas as pd

In [28]:
def gen_dataset():
    x_train = list(map(list, itertools.product([0, 1], repeat=16)))
    x_train = np.array(x_train)
    y_train = np.zeros(x_train.shape[0])
    for idx, x in enumerate(x_train):
        x = np.array(x).reshape([4, 4])
        count = 0
        for i in range(1, 3):
            for j in range(1, 3):
                if x[i][j] == 1:
                    if x[i-1][j] == 1 and x[i+1][j] == 1 and x[i][j-1] == 1 and x[i][j+1] == 1:
                        count += 1

        if count == 1:
            y_train[idx] = 1

    return x_train, y_train

In [29]:
x, y = gen_dataset()

In [30]:
data = x.tolist()

In [31]:
len(data)

65536

In [32]:
len(data[0])

16

In [33]:
for i in range (len(data)):
    data[i].append(int(y[i]))

In [34]:
len(data)

65536

In [35]:
len(data[0])

17

In [36]:
dfObj = pd.DataFrame(data)

In [37]:
dfObj.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0
2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
3   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   0
4   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0

In [41]:
dfObj.to_csv(r'data6.csv',index=False)